// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #181818;
$white: #F3F3F3;
$black-blue: #15012F;
$dark-blue: #1E0044;
$blue: #1573FF;
$violet: #8836AE;
$gold: #FFD262;
$gray: #BDBDBD;
$green: #05F800;